#app{
    border-bottom: 1px solid #f1f1f1;
}

.card-header_title{
    font-size: 1.2em;
}

img{
    border-radius: 5px;
}

.tags{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    color: #333;
    padding:1px 5px;
}

.anser{
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    font-size: 0.8em;
}

.anser_text{
    text-align: center;
    font-size: 1.3em;
}

.card{
    box-shadow: 0px 4px 6px #ccc;
}

.updated_time{
    color: #828e96;
    font-size: 0.8em;
}

#markdown_editor_textarea {
    padding: 1rem;
    height: 29rem;
    width: 100%;
  }

  #markdown_preview {
    padding: 1rem;
    height: 29rem;
    border: solid 1px gray;
    width: 100%;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    overflow:auto;
  }

  #markdown_preview h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }

    #markdown_preview h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }

    #markdown_preview h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }

    #markdown_preview pre code{
            color: white;
            padding: 1.5rem 1rem;
            background-color: #364549;
            width: 100%;
            display: block;
    }


    .post_content h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }

    .post_content h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }

    .post_content h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 1px #ddd;
    }
    
    .post_content pre code{
            color: white;
            padding: 1.5rem 1rem;
            background-color: #364549;
            width: 100%;
            display: block;
    }

    #comment {
        padding: 1rem;
        border: solid 1px gray;
        width: 100%;
        background-color: white;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        color: #495057;
      }
    
      #comment h1 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            padding-bottom: 0.2rem;
            border-bottom: solid 1px #ddd;
        }
    
        #comment h2 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            padding-bottom: 0.2rem;
            border-bottom: solid 1px #ddd;
        }
    
        #comment h3 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            padding-bottom: 0.2rem;
            border-bottom: solid 1px #ddd;
        }
    
        #comment pre code{
                color: white;
                padding: 1.5rem 1rem;
                background-color: #364549;
                width: 100%;
                display: block;
        }

        .navbar-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52, 144, 220,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }

          footer{
              font-size: 0.8em;
          }